*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #6d597a;
}
.color-b {
color :white;
font-weight: 900;
}
/* navbar css starts here  */
.image{
    background: rgba(163, 155, 202, 0.5) url('../../Image/bank.jpg');
    background-size: cover;
}
.abc{
   background-color:rgba(4, 6, 9, 0.845);
   color: #fff;
}
.navbar navbar-expand-lg navbar-light bg-light{
    background-color: #120835;
}


.bg-light{
    background-color: #332d2a!important;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.toggle-color{
    background-color: #f9f3f3;
}
.navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color:  #c0d3f4!important;
}

.nav-link{
    color: #f9f3f3!important;
    font-family: 'Noto Sans JP', sans-serif;
}


.nav-link:hover{
    background-color: rgba(51, 51, 219, 0.789);
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    color: #ffffff;
    padding: 3rem;
    margin-bottom: 1vh;
}

.hero-img{
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.go-transection{
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #039be5!important;
    transition: 0.3s;
}

.go-transection:hover{
    text-decoration: none;
    background-color: #bfdff0;
    
}



/* footer css starts here */
footer{
    background-color:  #f2e9e4;
    margin-bottom: 0%;
}

.heading{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e!important;
}

.linkedin{
    color: #0077b5!important;
}

.leetcode{
    color: #0077b5!important;
}
/* footer css ends here  */